{#<div class="info" id="rules">
    <h2>Changes</h2>
    <ul>
        <li>Payouts back to automatic mode</li>
        <li>Last person gets whatever is left in the wallet balance</li>
        <li>If wallet balance is less then 200% of last deposit my fees will be used to fill it up (this only for first round)</li>
        <li>Round ends if no <span class="cool">payout</span> realised for 48 hours</li>
    </ul>
</div>
#}