{% extends "::base.html.twig" %}
{% block title2 %}
    <a href="{{ path('admin') }}">{{ currency }} Ponzi admin</a>
{% endblock %}
{% block title %}{{ currency }} Ponzi admin{% endblock %}
{% block top_aside %}{% endblock %}
{% block info %}{% endblock %}
{% block body %}{% endblock %}
